* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #e8f8f6, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.app-logo {
  width: 90px;
  margin-bottom: 12px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header .icon {
  font-size: 45px;
  color: #0a9d8c;
  margin-bottom: 10px;
}

header h1 {
  font-size: 38px;
  font-weight: 700;
  color: #1b1b1b;
  margin-bottom: 8px;
}

header p {
  font-size: 16px;
  color: #555;
}

.search-box {
  background: #fff;
  width: 780px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
  text-align: left;
}

.search-box h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #222;
}

label {
  display: block;
  color: #333;
  margin-bottom: 8px;
  margin-top: 5px;
}

.input-row {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  padding: 14px 18px;
  border-radius: 12px;
  border: 1.5px solid #ccc;
  font-size: 16px;
}

button {
  background: #0a9d8c;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #087f75;
}

.divider {
  text-align: center;
  margin: 25px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  width: 45%;
  background: #ddd;
  position: absolute;
  top: 50%;
}

.divider::before { left: 0; }
.divider::after { right: 0; }

.divider span {
  background: white;
  padding: 0 10px;
  color: #777;
}

.upload-box {
  border: 2px dashed #0a9d8c;
  padding: 20px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.upload-box:hover {
  background: #e9f8f7;
}

.camera {
  font-size: 22px;
}

.note {
  text-align: center;
  color: #777;
  margin-top: 10px;
  font-size: 13px;
}
